/* fichier CSS TP1  */
body{
	font-family: consolidas;
}

#titre_tab1{
	color : grey;
	margin-left: 20px;
	font-family: consolidas;
}

.table{
	width: 50% !important;
	margin-left: 10% !important;
}

#titre{
	color : grey;
	margin-left: 20px;
	font-family: consolidas;
}

#formAjoutModele{
	width : 30% !important;
	margin-left: 10% !important;
}

.ulNavBar{
	margin-left: 5% !important;
	width : 40% !important;
	margin-top: 0.3em !important;
}

.ulNavBarRight{
	margin-left: 5% !important;
	width : 30% !important;
	margin-top: 0.3em !important;
}

.liNavBarRight{
	width : 40% !important;
}

.liNavBar{
	width : 25% !important;
}

.titre_nav{
	color: white !important;
	font-size: 20px;
}

.boutonNavOnglet{
	color : white !important;
	font-size: 14px;
	text-align: center;
}

.boutonNavOnglet:hover{
	background-color: white !important;
	color: black !important;
	border-radius: 4px;
}

.boutonLangue{
	color : white !important;
	font-size: 14px;
	text-align: center;
}

.boutonLangue:hover{
	background-color: white !important;
	color: black !important;
	border-radius: 4px;
}

.boutonLien1{
	margin-left: 10%;
	margin-top: 5%;
}

#succesAjout{
	width : 30% !important;
	margin-left: 10% !important;
	margin-top: 4% !important;
}

#deconnexionInfo{
	width : 60% !important;
	margin-left: 10% !important;
	margin-top: 4% !important;
}

#connexionInfo{
	width : 30% !important;
	margin-left: 10% !important;
	margin-top: 4% !important;
}

.titrePartForm{
	font-size: 15px;
	color : grey;
}

.boutonConn{
	padding-top: 1.7em;
}

.boutonForm{
	margin-left: 5em;
}


.changementUV{
	border-top: black !important;
}